<div class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand">SPORTS STORE</a>
</div>
<div class="row">
  <div class="col-3 bg-info pa-1">
    {{ categories.length }} Categories
  </div>
  <div class="col-9 pa-1">
    <div *ngFor="let product of products" class="card card-outline-primary">
      <h4 class="card-header">
          {{product.name}}
          <span class="float-right badge badge-primary">
              {{ product.price | currency:"USD":symbol:"2.2-2" }}
          </span>
      </h4>
      <div class="card-body">
        <div class="card-text pa-1">{{product.description}}</div>
      </div>
  </div>
  </div>
</div>
